@model List<Journals.Model.SubscriptionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Journals for Subscription</h2>

@if (Model == null || !Model.Any())
{
    <div class="row alert @(User.IsInRole("Publisher") ? "alert-info" : "alert-danger")">
        <div class="col-sm-9">
            <strong>No journals are available for subscription.</strong>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-lg pull-right">Add New Journal</button>
        </div>
    </div>
}
else
{
    <table class="table table-condensed table-striped">

        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody></tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.IsSubscribed)
                    {
                        @Html.ActionLink("Un Subscribe", "UnSubscribe", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Subscribe", "Subscribe", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </table>
}